# Node modules
node_modules/

# Build output
dist/
.nitro/
.output/
.nuxt/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Temporary files
.DS_Store
*.local
*.log

# TypeScript
*.tsbuildinfo

# Editor directories and files
.idea/
.vscode/
*.swp